<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pizzas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar pizzas"></ion-searchbar>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="https://www.hypeness.com.br/1/2018/09/dominos-1.jpg">
    </ion-thumbnail>
    </ion-label>
      <div class="item-pizza ion-text-wrap"> 
        <h1>Mussarela</h1>
        <p>Massa especial, molho especial, mussarela, tomate e orégano</p>
      </div>
    </ion-label>

    <ion-badge color="light" slot="end">
      <div>
        <h3>R$</h3>
        <p>20,00</p>
      </div>
    </ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="https://lh3.googleusercontent.com/proxy/4U9agBjXLeRtsKheT5HilK--6B9xsaFqngIJjm7kANaPsmLQNY-NAhs590SHj6qcrMGuR1n_R9QXNC6hqj5S2VddVZ18YY8_dC37CAPxRpsiOAB4">
    </ion-thumbnail>
    </ion-label>
      <div class="item-pizza ion-text-wrap"> 
        <h1>Calabresa</h1>
        <p>Massa especial, molho especial, mussarela, calabresa e orégano</p>
      </div>
    </ion-label>

    <ion-badge color="light" slot="end">
      <div>
        <h3>R$</h3>
        <p>20,00</p>
      </div>
    </ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="https://thumb-cdn.soluall.net/prod/shp_products/sp1280fw/b7738739-611e-4bca-b644-5f52231b501f/b7f4dd48-2aa8-4360-8bba-1ccb33d6a2d9.jpg">
    </ion-thumbnail>
    </ion-label>
      <div class="item-pizza ion-text-wrap"> 
        <h1>Quatro queijos</h1>
        <p>Massa especial, molho especial, mussarela, provolone, gorgonzola, catupiry e orégano</p>
      </div>
    </ion-label>

    <ion-badge color="light" slot="end">
      <div>
        <h3>R$</h3>
        <p>25,00</p>
      </div>
    </ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="https://static.vix.com/pt/sites/default/files/bdm/receita/Genial%20receita%20de%20pizza%20de%20frango%20com%20bacon.jpg">
    </ion-thumbnail>
    </ion-label>
      <div class="item-pizza ion-text-wrap"> 
        <h1>Frango supremo</h1>
        <p>Massa especial, molho especial, mussarela, frango, bacon e orégano</p>
      </div>
    </ion-label>

    <ion-badge color="light" slot="end">
      <div>
        <h3>R$</h3>
        <p>30,00</p>
      </div>
    </ion-badge>
  </ion-item>
</ion-content>
